<a class='gallery__link' href='{{obj.largeImageURL}}'><img
    class='gallery__image'
    src='{{obj.webformatURL}}'
    alt='{{obj.tags}}'
    loading='lazy'
  /><div class='info'><p class='info__item'><b>Likes</b><span
        class='info__data'
      >{{obj.likes}}</span></p><p class='info__item'><b>Views</b><span
        class='info__data'
      >{{obj.views}}</span></p><p class='info__item'><b>Comments</b><span
        class='info__data'
      >{{obj.comments}}</span></p><p class='info__item'><b>Downloads</b><span
        class='info__data'
      >{{obj.downloads}}</span></p></div></a>